@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat+Alternates&family=Montserrat:wght@400;600&display=swap');

:root {
   
   /* cores do arquivo */
    --cor-fundo: #393E46;
    --cor-destaque: #6D9886;
    --cor-texto: #F2E7D5;
    --cor-hover: #f7f7f776;

   /* fontes do arquivo */ 
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

   /* tamanho das fontes */ 
    --fonte-titulo: 2.25rem;
    --fonte-links: 1.5rem;
    --fonte-texto: 1.5rem;
    --fonte-rodape: 1.5rem;


}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

.cabecalho {
    padding: 2% 0% 0% 15%;

}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-links);
    font-weight: 600;
    color: var(--cor-destaque);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: var(--fonte-titulo);
    font-family: var(--fonte-primaria);
}

.trecho-destaque {
    color: var(--cor-destaque);
}

.apresentacao__conteudo__texto {
    font-size: var(--fonte-links);
    font-family: var(--fonte-secundaria);
}


.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--cor-destaque);
}


.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400; 
    font-size: var(--fonte-texto);
}

.apresentacao__links__navegacao {
    
    display: flex;
    justify-content: center;
    gap: 16px;

    border: 2px solid var(--cor-destaque);
    width: 50%;
    text-align: center;
    border-radius: 14px;
    font-size: var(--fonte-links);
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-texto);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.aprensentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 24px;
    color: var(--cor-fundo);
    background-color: var(--cor-destaque);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-rodape);
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }
   
    .cabecalho__menu {
        justify-content: center;
    }
   
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
    
}
